body {
  background: #2980b9;
  background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);
  background: linear-gradient(to right, #2c3e50, #2980b9);
}

#logo{
width: 150px;
height: 150px;
padding: 15px;
}

.reponsive{
    max-width: 75%;
    height: auto;
}

img{
    padding: 15px
}

.displaybBox{
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.scroll-box{
    overflow-y: auto;
    height: 500px;
    float: left;
    padding: 1rem;
}

#title{
    color: orange;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
